.bg-blue{
    background-color: #1E202B !important;
}

.bg-sec-blue{
    background-color: #262936 !important;
}

.bg-card{
    background-color: #2f303d !important;

}

.bg-thi-blue{
    background-color: #1E202B !important;
}

.col .icon  {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0D6EFD;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.col a:hover .icon {
    color: white;
    background-color: #0D6EFD !important;
}

.body{
    background-image:url(../imges/back\ ground.png);
    background-repeat: no-repeat;
}

input{
    background-color: #1E202B !important;
    border: none !important;
    color: white !important;
}

::placeholder{
    color: #eee !important;
    opacity: 0.5 !important;
}

 #a{
    color: white ;
}
.nav-item{
    margin-left: 5px !important;
    margin-right: 5px !important;
}

li:hover , .active {
    border: 1px solid lightblue ;
    
}

.active a {
    color: lightblue !important  ;

}

li:hover #a {
    color: lightblue  ;

}


@media screen and (max-width : 768px) {
    .social .row {
        margin: 20px 0 !important;

    }
}

